<div>
    <h1 class="">Login</h1>
    <form action="Login/Validar" method="post">
        <div>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario" required>
        </div>
        <div>
            <label for="contrasena">Contraseña</label>
            <input type="password" id="contrasena" name="contrasena" required>
        </div>
        <div>
            <button type="submit">Ingresar</button>
        </div>
    </form>
    <div>
        <a href="Registro">Registrarse</a>
    </div>
</div>